extends layout

block content



  p POST
  div
    form#POST
      input(type="file" name="file")
      input(type="submit" value="Upload")



  p GET
  div
    form#GET
      input(type="text" name="file" placeholder="filename.ext")
      input(type="submit" value="Get")
